# Ignore everything:
*

!.gitignore
!docs/*
!docs/
!docs/edit/
!docs/edit/*
!docs/shinylive/*
!docs/shinylive/pyodide/
!docs/shinylive/pyodide/*
!docs/shinylive/pyright/
!docs/shinylive/pyright/*
!app/
!app/*